// Color
$green-color: #2FE09B;
$orange-color: #E0A419;
$yellow-color: #FCC84E;
$purple-color: #AD02E0;
$dark-purple-color: #740994; 

// Text Size
$heading-font-size: 45px;
$subheading-font-size: 35px;
$general-font-size: 24px;
$buttons-font-size: 16px;

